@font-face {
  font-family: 'moderniz';
  src: url(./fonts/Moderniz.otf);
}

* {
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'moderniz';
}

p {
  font-family: 'Inter';
}


/*Off Screen menu*/
.off-screen-menu {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: -300%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 9rem;
  transition: .7s ease;
  z-index: 80;
  font-family: 'moderniz';
}

.unordered-list {
  list-style-type: none;
  color: black;
}

.off-screen-menu.active {
  right: 0;

}

.logo {
  font-family: 'moderniz';
  font-size: 1rem;
  position: fixed;
  color: black;
  left: 40px;
  top:9px;
  z-index: 30;
}

span {
  float: right;
}

nav {
  margin: 0px 40px;
  position: fixed;
  float: right;
  width: 100%;
  z-index: 100;
  justify-content: center;
  overflow-y: hidden;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 100;
  right: 4%;
  top: 20px;
}


.ham-menu span {
  height: .5px;
  width: 80%;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  z-index: 21;
}

.ham-menu span:nth-child(1) {
  top: 10%;
}

.ham-menu span:nth-child(2) {
  top: 0%;
}

.ham-menu.active span:nth-child(1) {
  top: 30%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  top: 30%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


.open-menu:hover {
	transform: skew(10deg);
}
.open-menu::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 100ms ease-in-out;
	padding-left: 20px;
}
.open-menu:hover::before {
	top: -3px;
	left: 0px;
	color: hotpink;
}

.open-menu::after {
	content: "";
	width: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	transition: all 150ms ease;
}
.open-menu:hover::after {
	width: 75%;
	outline: 10px solid white;
}



.titles {
  font-size: .8rem;
  font-family: 'Inter';
  font-weight: 600;
  margin-left: 35px;
  line-height: 1.2rem;
  color:rgb(92, 92, 92);
  z-index: -1;
  position: fixed;
  height: 70vh;
  top: 6%;
  overflow-y: hidden;
}

.title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4rem;
  overflow-y: hidden;
  margin-left: 10px;
  
}

#all-projects {
  z-index: 5;
}




.project-1 {
  z-index: 8;
  background-color: white;
}

.project-2 {
  z-index: 8;
  background-color: white;
  margin-top: 200px;
}

.project-3 {
  z-index: 8;
  background-color: white;
  margin-top: 200px;
}

.project-4 {
  z-index: 8;
  background-color: white;
  margin-top: 200px;
}

.title-and-tag {
  display: block;
  padding-left: 90px;
  padding-right: 390px;
  color:rgb(92, 92, 92);
}

.project-description {
  float: right;
  display: flex;
}

.project-text {
  display: flex;
}

.project-title {
  display: flex;
  width: 500px;
  padding-left: .5px;
  margin-bottom: 2px;
  padding-right: 400px;;
}

.case-studies {
  margin-top: 40%;
  line-height: 200px;
  font-size: 5rem;
  padding-left: 15px;
  z-index: -1;
  overflow-y: hidden;
  color: black;
}

.masthead {
  z-index: -22;
}

.cover-image {
  width:100%;
  height: 700px;
  overflow:hidden;
  object-fit: cover;
  /*margin-top: 200px;*/
}

.transparent-box {
  height: 665px;
  z-index: -22;
  color: transparent;
}

.tag {
  margin-top: 0;
  font-size: 0.98rem;
}

.description {
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 4.8px;
  width: 60%;
  color:rgb(92, 92, 92);
}

.white-box {
  background-color: white;
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 29;
  top: 0;
}

#all-projects {
  background-color: white;
}

.page-cover-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: fixed;
  margin-top: 0;
  z-index: -5;
  animation: scale-up .5s ease 0s 1 normal forwards;
}

/* Copy this code after the above code */
@keyframes scale-up {
  0% {
	transform: scaleY(0.4);
  }

  100% {
	transform: scaleY(1);
  }
}

/*project 4*/
.project-4-page {
  position: absolute;
  z-index: 10;
  top: 90%;
}

.page-header {
  color: white;
  z-index: 10;
  padding-left: 40px;
  text-shadow: 2px 2px rgb(92, 92, 92);
}

.page-title {
  font-size: 3rem;
  margin-bottom: 0;
  /* Copy code to element you want to animate */
animation: expand-up 1s ease-in-out 0s 1 normal forwards;
}

/* Copy this code after the above code */
@keyframes expand-up {
  0% {
	transform: scaleY(0.4);
	transform-origin: 0% 100%;
  }

  100% {
	transform: scaleY(1);
	transform-origin: 0% 100%;
  }
}


.project-title {
  font-size: .9rem;
  margin-bottom: 5px;
}

.page-subtitle {
  font-size: 1.2rem;
  font-weight:100;
  letter-spacing: .7rem;
  margin-top: 0;
  font-family: 'moderniz';
  animation: expand-up 1s ease-in-out 0s 1 normal forwards;
}

.parallax {
  background-color: white;
  color: rgb(92, 92, 92);
  width: 100vw;
  overflow: hidden;
}

.paragraph {
  font-size: 1.7rem;
  width: 75%;
  margin-top: 10px;
}

.paragraph-header {
  font-size: 1.7rem;
  font-family: 'moderniz';
  margin-bottom: 0;
}

.project-details {
  padding-left: 90px;
  padding-top: 20px;
  width: 900px;
  clear: left;
}

.problem {
  float: right;
  margin-right: 80px;
  width: 900px;
  align-content: center;
}

.section1 {
  display: flex;
}

.img1 {
  width:100%;
  height: 700px;
  overflow:hidden;
  object-fit: cover;
}

.paragraph2 {
  font-size: 1.1rem;
  padding: 0px 40px 100px 90px;
  width: 25%;
}

.project-title2, .caption {
  padding-left:90px;
  font-size: 1.3rem;
  width: 18%;
}

.full-image {
  width: 47vw;
}

.personas {
  gap: 50px;
  padding-left: 20px;
  flex-wrap: wrap;
}

.videocontainer {
  width: 100%;
  height: 100%;
}

.challenges-and-insights {
  display: flex;
  gap: 200px;
}

.competitors-container {
  display: flex;
  gap: 100px;
  padding: 5% 0 10% 10%;
}

.half-size {
  width: 100%;
  height: auto;
}

.competitor-analysis {
  padding: 0 5%;
}

.user-testing {
  padding: 0 5%;
}

h2 {
  padding-left: 100px;
}

.side-by-side-imgs {
display: flex;
padding: 0 100px;
}

.left-imgs {
  clear: left;
  width: 1000px;
}

.right-imgs {
  float: right;
}


.persona-container {
  display: flex;
  gap: 200px;
  padding: 100px 120px 100px 120px;
}

.buyer-persona {
  clear: left;
  width: 800px;
}

.personas {
  clear: left;
}


.full-screen-imgs {
  display: flex;
  width: 100%;
}

.quad {
  float: right;
}

.blue-caption {
  color: rgb(0, 0, 179);
  font-size: 1.1rem;
}

.green-caption {
  color: rgb(1, 102, 68);
  font-size: 1.1rem;
}

.solo-imgs {
  width: 100%;
}

.hunt-statement {
  font-size: 3.5rem;
  width: 68%;
  margin-top: 10px;
  margin-bottom: 300px;
}


.statement-container {
  padding-left: 25%;
  padding-top: 300px;
}



:root {
  scroll-behavior: smooth;
}

.summary {
  font-size: 5rem;
  font-family: 'moderniz';
}

.summary-paragraph {
  font-size: 3rem;
}


section {
  position: relative;
  width: 100%;
  height: 100%;
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#section { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

#section a {
  padding-top: 60px;
}

#section a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#section a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  height:300px;
  overflow: hidden;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  padding: 0px 90px 50px 90px;

}

.column {
  flex: 33.33%;
  padding: 15px;
}


.column {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 95%;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.column:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: black;
  font-family: 'moderniz';
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-container {
  align-items: center;
  justify-content: center;
}

.contact {
  font-size: 8rem;
  padding-left: 90px;
  margin-bottom: 0;
}

.contact-me {
  padding-left: 90px;
  font-family: 'inter';
  font-size: 1.5rem;
  font-weight: 300;
  color:rgb(92, 92, 92);
  margin: 0;
}

.email {
  font-family: 'inter';
  font-size: 7rem;
  margin: 0;
  align-items: center;
  padding-right: 90px;
  text-align: end;
}

footer {
text-align: end;
padding-right: 90px;
padding-bottom: 20px;
}

.more-projects {
  color: black;
  font-size: 2rem;
}

.me {
  width: 100%;
  height: auto;
}

.contact {
  margin: 0;
  font-size: 5rem;
  padding-right: 150px;
}

.contact-me {
  font-size: 2.6rem;
  padding-right: 150px;
  margin-bottom: 30px;
}

.experience {
  font-size: 2.5rem;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 10px;
}

.explanation {
  padding-left: 100px;
  font-size: 1rem;
  width:800px;
}

